<h2>Here's your current tasks</h2>
<% @tasks.each do |task| %>
  <p>
  Title: <strong><%= link_to task.title, task_path(task) %></strong> <br>
  Difficulty: <%= task.difficulty %> <br>
  Description: <%= task.description %>
  </p>
<% end %>

<%= link_to 'Create new task', new_task_path, class: 'btn btn-primary' %>
